# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nico\Documents\ITBA\2021C1\SS\TPs\SdS_TP5_2021Q1G02_Codigo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
